<h1>Artists</h1>
<% @artists.each do |artist| %>
  <h3><em><%= artist.name %> <%= button_to "Edit: #{artist.name}", "/artists/#{artist.id}/edit", method: :get %></em></h3>
<% end %>
<br>

<form style="float:left; padding-top:5px;" action="/artists/new">
  <input type="submit" value="New Artist"/>
</form>
